<div class="MarkedExample {{ classes.container }}">
  <div class="MarkedExample-rendered {{ classes.rendered }}">
    {{ rendered }}
  </div>
  <pre class="MarkedExample-code {{ classes.code }}">{{{ code }}}</pre>
</div>
